@using InternetBanking.Core.Application.ViewModels.Dashboard
@model DashboardViewModel
@{
    ViewData["Title"] = "Admin dashboard";
}

<div class="text-center">
    <h3 class="display-4">Transacciones de hoy: @Model.TransactionsToday </h3>
    <h3 class="display-4">Total de transacciones: @Model.Transactions</h3>
    <h3 class="display-4">Pagos de hoy: @Model.Pays</h3>
    <h3 class="display-4">Total de pagos: @Model.PaysToday</h3>
    <h3 class="display-4">Usuarios activos: @Model.ActiveUsers</h3>
    <h3 class="display-4">Usuarios desactivados: @Model.DisabledUsers</h3>
</div>
